body{
	background-color: cadetblue;
	overflow: hidden;
}

.canSelect{
	cursor: pointer;
	user-select: none;
}

.credit{
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 20px;
	margin: 5px;
	border-radius: 10px;
	line-height: 1.5px;
	background-color:aquamarine;
}

.base{
	background-color: aqua;
	border-radius: 20px;
	margin: auto;
	font-size: 18px;
	width: 340px;
	text-align: center;
	font-family: "あかずきんポップ";
}

.memberContent { 
	background-color: lightgray; 
	border-radius: 30px; 
	margin: auto; 
	padding: 30px; 

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	gap: 30px;

	width: 70%;
	justify-items: center;
}

.member {
	background-color: white; 
	border-radius: 10px; 
	text-align: center; 
	width: 225px; 
	height: auto;
	line-height: 20px;
	transition: transform 0.1s ease-in-out; 
	box-shadow: 0 3px 8px rgba(0,0,0,0.15); 
}

@media (max-width: 770px) {
	.memberContent {
		width: 90%;
		grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
	}

	.member {
		width: 275px;
	}
}

.member:hover {
	transform: scale(1.08);
	transition: all 0.1s ease-in-out;
	box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

@font-face {
	font-family: "いろはもち";
	src: url("../fonts/iroha-mochi.otf") format("opentype");
}

@font-face {
	font-family: "はんなり明朝";
	src: url("../fonts/HannariMincho-Regular.otf") format("opentype");
}

@font-face {
	font-family: "あかずきんポップ";
	src: url("../fonts/AkazukiPOP.otf") format("opentype");
}