body{
	background-color: cadetblue;
}

.base{
	background-color: aqua;
	border-radius: 20px;
	margin: auto;
	font-size: 18px;
	width: 25%;
	min-width: 320px;
	text-align: center;
	font-family: "あかずきんポップ";
}

.club{
	background-color: white;
	margin: 20px auto;
	border-radius: 10px;
	text-align: center;
	position: static;
	width: 200px;
}

@font-face {
	font-family: "いろはもち";
	src: url("../fonts/iroha-mochi.otf") format("opentype");
}

@font-face {
	font-family: "はんなり明朝";
	src: url("../fonts/HannariMincho-Regular.otf") format("opentype");
}

@font-face {
	font-family: "あかずきんポップ";
	src: url("../fonts/AkazukiPOP.otf") format("opentype");
}